body {
    margin: 0;
}

body {
    background-color: #d0e3ff;
}

p {
    font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.mitr-light {
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
font-family: "Mitr", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
font-family: "Mitr", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.mitr-semibold {
    font-family: "Mitr", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.container {
width: 100vw;
height: auto;
display: flex;
justify-content: center;
}

.container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  margin: 100;
}

div.scroll-container img {
  padding: 10px;
}